.landing-page {

    background-color: white;
    display: flex;
    flex-direction: column;
    color: white; /* Ensure the text is visible */
   /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add contrast for readability */
  }
  
  .content {
    z-index: 2; /* Ensure the text is on top of the image */
    text-align: right;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
  }
  